# General Node
node_modules
.env

# VSCode Solidity Plugin
bin

# Hardhat
abi
artifacts
cache
typechain
deployments/localhost

# Foundry
forge-cache
out
broadcast

# Graph protocol
generated
build

# tenderly
tenderly.yaml

# Misc
.DS_STORE